blinker
click
colorama
Flask
Flask-Dance
flask-cors
Flask-SQLAlchemy
Flask-SocketIO
gunicorn
gevent
gevent-websocket
greenlet
itsdangerous
Jinja2
MarkupSafe
oauthlib
psycopg2-binary
SQLAlchemy
typing_extensions
Werkzeug